body {
    background-color: #333;
    color: #fff;
  }
  
  .container {
    margin-top: 50px;
    
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #bbb;
  }
  
  form {
    background-color: #5e5b5b;
  
    padding: 30px;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    color: #b3a2a2;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn.btn-primary {
    background-color: #666;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn.btn-primary:hover {
    background-color: #555;
  }
  
  .text-danger {
    margin-top: 10px;
    color: red;
  }

  

  
  